<div class="authform">
  <h2>Pedido de Transferência</h2>
  <div class="form-group">
    <%= form_for(@find) do |f| %>       
      <p><%= f.label :COD_TURMA %></p>
      <p><%= f.text_field :COD_TURMA%></p>                      
      <%=submit_tag "Próximo", :class => 'btn btn-primary'%>               
    <% end %>
  </div>  
</div>  