<%= form_for(@performed_transfer) do |f| %>
  <% if @performed_transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@performed_transfer.errors.count, "error") %> prohibited this performed_transfer from being saved:</h2>

      <ul>
      <% @performed_transfer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
