<div class="panel panel-success">
  <div class="panel-heading">Pedido recusado</div>
  <div class="panel-body">
    <table class="table">
      <%= form_for(@refused_transfer) do |f| %>
        <% if @refused_transfer.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@refused_transfer.errors.count, "error") %> prohibited this refused_transfer from being saved:</h2>

            <ul>
            <% @refused_transfer.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
    </table>
  </div>
</div>    